body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

h1 {
    color: darkgray;
}

p {
    color:gray;
    font-size: 18px;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid lightcyan;
    border-radius: 4px;
    outline: none; /* Remove the default outline */
}

/* Styling the input field when it gains focus */
input[type="text"]:focus {
    border-color: orange;
    box-shadow: 0 0 5px orangered;
}